<mat-card>
    <mat-card-content>
        <mat-list class="justify-content-center">
            <mat-list-item>Name : {{user.name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Email : {{user.email}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Phone : {{user.phone}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Gender : {{user.gender}}</mat-list-item>
        </mat-list>
        <a routerLink="/update/{{user.email}}"><button mat-raised-button color="primary" >Edit Profile</button></a>
    </mat-card-content>
  </mat-card>

